
  <h1>
    Home of the <%= @team_name %>
  </h1>
  <div class="button-list">
    <ul>
      <% @team_data.each do |position, player| %>
        <li>
          <button id="<%= player.to_s.downcase.gsub(" ", "_") %>"></button><a href="/LACKP/positions/<%= position %>"><%= position %></a> - <%= player %>
        </li>
      <% end %>
    </ul>
  </div>
  <a href="/LACKP/teams">Back to LACKP Team list</a>
